<!-- app/views/users/new.html.erb -->

<h1>Signup!</h1>

<div style="width:50%;margin-left: 25%;margin:auto;text-align: center">
  <%= form_for :user,html: {class: 'pure-form pure-form-stacked'}, url: '/users' do |f| %>
    <fieldset>
      <legend>Sign up for a new Jungle account</legend>
       <%= label_tag(:first_name, 'First Name') %>
       <%= f.text_field :first_name, class: 'form-control',:cols => "10"%>
       <%= label_tag(:last_name, 'Last Name') %>
       <%= f.text_field :last_name, class: 'form-control',:cols => "10" %>
       <%= label_tag(:email, 'Email') %>
       <%= f.text_field :email, class: 'form-control',:cols => "10" %>
       <%= label_tag(:password, 'Password') %>
       <%= f.password_field :password, class: 'form-control',:cols => "10" %>
       <%= label_tag(:password_confirmation, 'Confirm Password') %>
       <%= f.password_field :password_confirmation,class: 'form-control',:cols => "10" %>
    <%= f.submit "Submit" %>
    </fieldset>
  <% end %>
</div>

<p style="width:50%;margin-left: 25%;margin:auto;text-align: center">Password must be at least 6 characters long </p>